body {
    background-color: #000000;
    color: #9932CC;
}

header {
    background-color: indigo;
    color: white;
}

body a {
    color: #48D1CC;
}

footer {
    background-color: indigo;
    color: darkgray;
}
